* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  color: #082338;
  line-height: 1.6;
  background-color: #e8f1f2;
  scroll-behavior: smooth;
}

.container{
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

#titulo-principal {
  font-size: 36px;
  text-align: center;
  color: #006494;
  margin-bottom: 20px;
}

.menu {
  color: #fff;
  text-decoration: none;
  padding: 6px 10px 6px 10px;
  text-align: center;
}

.menu-item {
  color: #fff;
  text-decoration: none;
  padding: 6px 10px 6px 10px;
  border: 1px solid #000;
  background-color: #1d405c;
}
.menu-item:hover {
  background-color: #285e7a;
}

section {
  margin: 10;
  padding-bottom: 30px;
}

section, h2{
  color: #006494;
}

section, ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#redes-sociais, a {
  text-decoration: none;
}

#redes-sociais li {
  display: inline-block;
  margin-right: 10px;
}

.item-historico{
  padding-top: 10px;
  padding-bottom: 10px;

}
